.Button {
  background: none;
  color: white;
  width: 3rem;
  height: 3rem;
  font-size: 1rem;
  border-radius: 3rem;
  border: 0.1rem solid white;
  margin: 0.1rem;
}

.clear {
  background: linear-gradient(to right, #ff4e00, #ff8d00);
  width: 100%;
  height: initial;
  border: none;
}

.Button:active {
  background: white;
  color: black;
}
