.Display {
  background-color: white;
  color: #777777;
  width: 14rem;
  margin: auto;
  height: 3rem;
  line-height: 3rem;
  text-align: right;
  padding: 0.5rem;
  font-size: 1.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
